.navbar {
    background-color: #00478F  ;
}

.navbar-nav .nav-item .nav-link {
    color: #EAEAE0;
}
.logo {
    margin-left: 80px;
    margin-right: 80px;
}

.quem-somos{
    background-color: #2A231F ;
    color: #ffffff
}

#quemsomos {
    max-width: 100vw;
}

.padding-quemsomos{

    padding: 35px 0 35px 0;

}

.tex-quemsomos{
    padding: 30px;
}
.text-lorem{
    margin: 0 100px 0 100px;
}

#parceiros {
    background-color: #D8E1E7;
    padding-bottom:10px;
    color: #000000
}

#servicos {
    background-color: #FF5D00;
    padding-bottom: 50px;
}

.tex-serv{
    padding: 20px 0 20px 0;
}

.bg-footer{
    background-color: #ffffff;
    padding: 20px 0 20px 0;
    color: #000000;
    font-weight: bold;
    font-size: 2em;
}
